.header__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  color: #6e7ae7;
  background-color: white;
  padding: 10px 20px;
  z-index: 1000; /* Asegura que la cabecera esté por encima del resto del contenido */
  border-bottom: 1px solid #ddd; /* Agrega una línea en la parte inferior */
}
